* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-image: url("img/wood.jpg");
    background-color: #cccccc;
    background-position: center;
    background-repeat: repeat-x;
    background-size: cover;
    position: relative;
    animation: moving 50s infinite;
    font-size: 30px;
    color: white;
    font-family: 'Fredoka One', cursive;
    overflow: hidden;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
}

a {
    background-color: #d3c46d;
    padding: 15px 20px;
    margin: 50px 20px;
    border-radius: 20px;
    color: white;
    text-decoration: none;
    box-shadow: 5px 5px 5px 5px black;
}

a:hover {
    background-color: #bcaf61;
    animation: SwitchColor 2s infinite;
}

@keyframes SwitchColor {
    0% {
        background-color: #d3c46d;
    }
    25% {
        background-color: #91874a;
    }
    75% {
        background-color: #5f5931;
    }
    100% {
        background-color: #2b2815;
    }
}

@keyframes moving {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 6000px 0;
    }
}